<div class="container my-5">
  <!-- Form  -->
  <div class="row d-flex justify-content-center">
    <div class="col-4">
      <h2>Add a feature</h2>
      <hr />
      <form (ngSubmit)="addFeature()" #form="ngForm">
        <div class="mb-3">
          <label for="featureName" class="form-label">Feature Name</label>
          <input
            type="text"
            class="form-control"
            id="featureName"
            [(ngModel)]="addFeatureRequest.featureName"
            name="featureName"
          />
          <div id="featureName" class="form-text">Feature name must be unique.</div>
        </div>

        <!-- Status -->
        <!-- Role Status -->
        <button type="submit" class="btn btn-primary w-100">Submit</button>
      </form>
    </div>
  </div>
</div>
