<div class="container my-5">
    <!-- Form  -->
    <div class="row d-flex justify-content-center">
      <div class="col-4">
        <h2>Add a Unit</h2>
        <hr />

        <div class="alert alert-danger" role="alert" *ngIf="errors.length > 0">
          <ul>
            <li *ngFor="let error of errors">
              {{ error | json }}
            </li>
          </ul>
        </div>   

        <form (ngSubmit)="addUnit()" #form="ngForm">           
          <div class="mb-3">
            <label for="unitName" class="form-label">Unit Name</label>
            <input
              type="text"
              class="form-control"
              id="unitName"
              [(ngModel)]="addUnitRequest.unitName"
              name="unitName"
            />
          </div>
          <button type="submit" class="btn btn-primary w-100">Submit</button>
        </form>
      </div>
    </div>
  </div>  