<div class="container my-5">
    <!-- Form  -->
    <div class="row d-flex justify-content-center">
      <div class="col-4">
        <h2>Edit a Unit</h2>
        <hr />
        <form #form="ngForm" (ngSubmit)="updateUnit()">
          <!-- Id -->
          <div class="mb-3">
            <label for="unitId" class="form-label">Unit ID</label>
            <input
              type="text"
              class="form-control"
              id="unitId"
              [(ngModel)]="unitDetails.unitId"
              name="unitId"
              readonly
            />
          </div>
   
          <div class="mb-3">
            <label for="unitName" class="form-label">Unit Name</label>
            <input
              type="text"
              class="form-control"
              id="unitName"
              [(ngModel)]="unitDetails.unitName"
              name="unitName"
            />
          </div>
  
          <button type="submit" class="btn btn-success w-50">Save</button>
          <button
            type="Delte"
            class="btn btn-danger w-50"
            (click)="deleteUnit(unitDetails.unitId)"
          >
            Delete
          </button>
        </form>
      </div>
    </div>
  </div>
  