
  <div class="container my-5">
    <!-- Form  -->
    <div class="row d-flex justify-content-center">
      <div class="col-4">
        <h2>Login</h2>
        <hr />  

        <form action="action_page.php" method="post">
          <div class="mb-3">
            <label for="courseCode" class="form-label">Username</label>
            <input
              type="text"
              class="form-control"
              id="courseCode"
              
              name="courseCode"
            />            
          </div>
  
          <div class="mb-3">
            <label for="courseName" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="courseName"
              name="courseName"
            />
          </div>
  
          <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>
      </div>
    </div>
  </div>  