@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, this is made by Looja!</h1>

Welcome to Looja's app.

<b>Testing .. . . </b>
<button>Click me!!!</button>

<SurveyPrompt Title="How is Blazor working for you?" />

