<div class="container my-5">
  <h1 class="mb-3">Person</h1>
  <table class="table" *ngIf="person && person.length > 0">
      <thead>
        <tr>
          <th>Given Name</th>
          <th>Famiy Name</th>
          <th>Prefered Name</th>
          <th>Date of Birth</th>     
          <th> </th>        
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let persons of person">
          <td>{{ persons.name1 }}</td>
          <td>{{ persons.name2 }}</td>
          <td>{{ persons.nickname }}</td>
          <td>{{ persons.birth }}</td>
        </tr>          
      </tbody>
    </table>
    <p *ngIf="!person || person.length <= 0">No Person Found.</p>
</div>