<div class="container my-5">
  <!-- Form  -->
  <div class="row d-flex justify-content-center">
    <div class="col-4">
      <h2>Edit a feature</h2>
      <hr />
      <form #form="ngForm" (ngSubmit)="updateFeature()">
        <!-- Id -->
        <div class="mb-3">
          <label for="featureId" class="form-label">Feature Id</label>
          <input
            type="text"
            class="form-control"
            id="featureId"
            [(ngModel)]="featureDetails.featureId"
            name="featureId"
            readonly
          />
        </div>

        <!-- Name -->
        <div class="mb-3">
          <label for="featureName" class="form-label">Feature Name</label>
          <input
            type="text"
            class="form-control"
            id="featureName"
            [(ngModel)]="featureDetails.featureName"
            name="featureName"
          />
          <div id="roleName" class="form-text">Feature name must be unique.</div>
        </div>

        <button type="submit" class="btn btn-success w-50">Save</button>
        <button
          type="Delte"
          class="btn btn-danger w-50"
          (click)="deleteFeature(featureDetails.featureId)"
        >
          Delete
        </button>
      </form>
    </div>
  </div>
</div>
